RUNTIME:
  WORK_DIR: ''
  LOAD_CHECKPOINT_PATH: ''
  RESUME_MODEL_PATH: ''
  CHECKPOINT_CONFIG:
    interval: 5
  LOG_CONFIG:
    interval: 50
    hooks: {
      TextLoggerHook: {},
      TensorboardLoggerHook: {}
    }  
  CUSTOM_HOOKS:
    - type: 'DetailedLinearWarmUpHook'
      warmup_iters: 10000
      lr_weight_warmup_ratio: 0.
      lr_bias_warmup_ratio: 10.
      momentum_warmup_ratio: 0.95
      priority: 'NORMAL'
    - type: 'StateEMAHook'
      momentum: 0.9999
      nominal_batch_size: 64
      warm_up: 10000
      resume_from: ''
      priority: 'HIGH'
  LOG_LEVEL: 'INFO'
  DIST_PARAMS: ['backend', 'nccl']
  SEED: 7
  WORKFLOW: [['train', 1], ['val', 1]]
  EVALUATION: {
    metric: 'accuracy',   # cls: 'accuracy', 'precision', 'recall', 'f1_score' det: 'mAP', 'Recall'
    metric_options: {'topk': 1}}
